{% extends "registration/base.html" %} 
{% block title %} Войти на сайт {% endblock %}
{% load user_filters %}
{% block content %}
<div class="main__header">
    <h1 class="main__title">Войти на сайт</h1>
</div>
    <div class="form-container">
        
            <form action="." method="post" class="form">
                {% csrf_token %}
                
            <div class="form__group">
                <label for="{{ form.username.id_for_label }}" class="form__label">Имя</label>
                <div class="form__field-group">
                  {{ form.username|addclass:"form__input" }}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.password.id_for_label }}" class="form__label">Пароль</label>
                <div class="form__field-group">
                  {{ form.password|addclass:"form__input" }}
                    <span class="form__error">
                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                          Имя пользоваетеля и пароль не совпадают. Введите правильные данные.
                        </div>
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue" type="submit">Войти</button>
                <a href="{% url 'users:password_reset' %}" class="form__forgot-link">Забыли пароль?</a>
            </div>
     
    </form>
    </div>
    {% endblock %}


