{% extends "base.html" %} 
{% block title %} Мой кабинет {% endblock %}
{% load user_filters %}
{% load static %}
{% block content %}

<div class="main__header">
    <h1 class="main__title">Личный кабинет</h1>
    
</div>
<div>
    <a href="{% url 'alerts:alert_create' %}"><button type="button" class="btn btn-primary">Создать оповещение</button></a>
        <a href="{% url 'alerts:alerts_page_url' %}"><button type="button" class="btn btn-secondary">Список оповещений</button></a>

{% endblock %}
