{% extends "base.html" %} 
{% block title %} Управление напоминаниями {% endblock %}
{% load user_filters %}
{% load static %}
{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">Сервис e-mail-оповещений</h1>
    Мои напоминания:

    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Автор</th>
          <th scope="col">Заголовок</th>
          <th scope="col">Место</th>
          <th scope="col">Дата и время</th>
        </tr>
      </thead>
      <tbody>
        {% for alert in my_alerts %}
        <tr>
          <th scope="row"><a href="{% url 'alerts:profile_url' alert.author %}">{{ alert.author }}</a></th>
          <td> <a href="{% url 'alerts:alert_page_url' alert.id %}"> {{ alert.header }} </a></td>
          <td>{{ alert.location }}</td>
          <td>{{ alert.date_expire }}</td>
         
        </tr>
    {% endfor %}
      </tbody>
    </table>
   
 
 

 <div>   Меня пригласили в:
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Автор</th>
        <th scope="col">Заголовок</th>
        <th scope="col">Место</th>
        <th scope="col">Дата и время</th>
      </tr>
    </thead>
    <tbody>
      
      {% for alert in invited_me_alerts %}
      <tr>
        <th scope="row"><a href="{% url 'alerts:profile_url' alert.author %}">{{ alert.author }}</a></th>
        <td> <a href="{% url 'alerts:alert_page_url' alert.id %}"> {{ alert.header }} </a></td>
        <td>{{ alert.location }}</td>
        <td>{{ alert.date_expire }}</td>
   
      </tr>
  {% endfor %}
    </tbody>
  </table>
   
    

</div>
</div>

</main>
{% endblock %}
