{% extends "base.html" %} 
{% block title %} Мой кабинет {% endblock %}
{% load user_filters %}
{% load static %}
{% block content %}

<div class="main__header">
    <h1 class="main__title">Поставить напоминание</h1>
    
</div>
<div>
    <form class="form" method="post" enctype="multipart/form-data" action="."> 
        {% csrf_token %}
        <div class="form__group">
            <label for="id_name" class="form__label">Заголовок</label>
            <div class="form__field-group">
                {{ form.header|addclass:"form__input" }}
                {% if form.errors %}
                    {% for error in form.header.errors %}
                        <span class="form__error">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
       
        <div class="form__group">
            <label for="id_name" class="form__label">Описание</label>
            <div class="form__field-group">
                {{ form.description|addclass:"form__input" }}
                {% if form.errors %}
                    {% for error in form.description.errors %}
                        <span class="form__error">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form__group">
            <label for="id_time" class="form__label">Место</label>
            <div class="form__field-group form__field-group_time">
                {{ form.location|addclass:"form__input" }}
            
                {% if form.errors %}
                    {% for error in field.errors %}
                        <span class="form__error">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form__group">
            <label for="{{ form.date_expire.id_for_label }}" class="form__label">Дата</label>
            <div class="form__field-group">
                {{ form.date_expire|addclass:"form__textarea" }}
                {% if form.errors %}
                    {% for error in field.errors %}
                        <span class="form__error">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="form__group">
            <label for="{{ form.participants.id_for_label }}" class="form__label">Добавить участников</label>
            <div class="form__field-group">
            {% if participants_list %}
                (Уже приглашены:
              {% for user in participants_list %}
              {{ user.participant.username }}
              {% endfor %})
                {% endif %}
              {{ form.participants }}
              
                {% if form.errors %}
                    {% for error in field.errors %}
                        <span class="form__error">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form__footer">
            {% if 'create' in request.path %}
            <button class="button button_style_blue" type="submit" id="submit-button">Создать напоминание</button>
          {% else %}
            <button class="button button_style_blue" type="submit" id="submit-button">Изменить напоминание</button>

          {% endif %}
        </div>
    </form>
    <form action="{% url 'alerts:alert_delete_url' alert.pk %}" method="POST">
                {% csrf_token %}
                <button class="button button_style_blue" type="submit" >Удалить </button>
            </form>
</div>
</main>

{% endblock %}
