{% extends "base.html" %} 
{% block title %} Сервис e-mail-оповещений {% endblock %}
{% load user_filters %}
{% load static %}
{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">Сервис e-mail-оповещений</h1>
    {% if request.user.is_authenticated %} <a href="{% url 'alerts:account_url' %}"><button type="button" class="btn btn-primary">Кабинет</button></a>
    <a href="{% url 'users:logout' %}"><button type="button" class="btn btn-primary">Выйти</button></a>
    {% else %}<a href="{% url 'users:signup' %}"><button type="button" class="btn btn-secondary">Регистрация</button></a>
    <a href="{% url 'users:login' %}"><button type="button" class="btn btn-primary">Войти</button></a>{% endif %}
</div>

</main>
{% endblock %}
