{% extends "base.html" %} 
{% block title %} Пользователь {{ obj.username }}{% endblock %}
{% load user_filters %}
{% load static %}
{% block style %} <link rel="stylesheet" href={% static "/pages/index.css" %}>{% endblock %}
{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">{{ obj.username }}</h1>
    <h1 class="main__title">{{ obj.first_name }}</h1>


    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
      
          <tr>
            <th scope="row">{{ obj.username }}</a></th>
            <td> {{ obj.first_name }} </a></td>
            <td>{{ obj.last_name }}</td>
            <td>{{ obj.email }}</td>
          </tr>

        </tbody>
      </table>
    
</div>

    
</div>

</main>
{% endblock %}
