{% extends "base.html" %} 
{% block title %} Просмотр упоминания {% endblock %}
{% load user_filters %}
{% load static %}
{% block style %}<link rel="stylesheet" href={% static "/pages/index.css" %}>{% endblock %}
{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">Сервис e-mail-оповещений</h1>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">Автор</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Место</th>
            <th scope="col">Описание</th>
            <th scope="col">Дата и время</th>
            <th scope="col">Статус</th>
            <th scope="col">Участники</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ alert.author }}</th>
            <td>{{ alert.header }}</td>
            <td>{{ alert.location }}</td>
            <td>{{ alert.description }}</td>
            <td>{{ alert.date_expire }}</td>
            <td><form action="{% url 'alerts:alerts_status_url' alert.id %}" method='GET'>
              {% csrf_token %}
              {% if user_active_status.task_active %}
              <button class="button button_style_blue" type="submit" id="off-button" name="status_button" value="False">Отключить</button>
              {% else %}
              <button class="button button_style_red" type="submit" id="on-button" name="status_button" value="True">Включить</button>
              {% endif %}
            </form>
            </td>
            <td>{% for i in participants %}{{ i.participant }} {% endfor %}</td>
          </tr>
         
        </tbody>
      </table>
 
   {% if request.user == alert.author %}<li class="single-card__item">  <a style="margin-left: 2.5em" href="{% url 'alerts:alert_edit_url' alert.id %}" class="single-card__text">Редактировать</a></li>{% endif %}

</div>
</div>

</main>
{% endblock %}
